In [139]:
import pandas as pd
import numpy as np

In [140]:
df = pd.read_excel('Energy Indicators.xls',skipfooter=38,skiprows=17,usecols='C:F',names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])

In [141]:
df.replace('...',np.NaN,inplace=True)

In [142]:
df['Energy Supply'] = df['Energy Supply'] * 1000000

In [143]:
df['Country'].replace('\s\(\w.*\)','',regex=True,inplace=True)

In [144]:
df['Country'].replace('[0-9]+$','',regex=True,inplace=True)

In [145]:
df['Country'].replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"},regex=True,inplace=True)

In [146]:
wb = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_1495053.csv',skiprows=4)

In [147]:
wb['Country Name'].replace(["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"], ["South Korea","Iran","Hong Kong"],inplace=True)
wb.drop('Unnamed: 65',axis=1,inplace=True)

In [148]:
wb.drop(np.concatenate((np.arange(1960,2006,1),np.arange(2016,2021,1)),axis=0).astype(str),axis=1,inplace=True)

In [149]:
cr = pd.read_excel('scimagojr country rank 1996-2019.xlsx')

In [169]:
mdf = df.merge(cr,on='Country').merge(wb,left_on='Country',right_on="Country Name")

In [170]:
mdf = mdf.loc[mdf['Rank'] <= 15,['Country','Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

In [171]:
mdf.sort_values('Rank',inplace=True)

In [172]:
mdf.set_index('Country',inplace=True)

In [525]:
mdf

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2014,2015,Citations Ratio,Population,PopEng,Citable docs per Capita,HighRenew,Continent,PopEst,Renewable bins
Country,,,,,,,,,,,,,,,,,,,,,
China,1,235126,233883,1909601,1306438,8.12,224,1.271910e+11,93.0,19.754910,...,1.047568e+13,1.106155e+13,0.238528,1.367645e+09,1.367645e+09,0.000171,1,Asia,1.367645e+09,"(15.753, 29.227]"
India,4,39893,38848,368175,123446,9.23,171,3.319500e+10,26.0,14.969080,...,2.039127e+12,2.103588e+12,0.045989,1.276731e+09,1.276731e+09,0.000030,0,Asia,1.276731e+09,"(2.212, 15.753]"
Iran,12,19371,19085,242250,77012,12.51,127,9.172000e+09,119.0,5.707721,...,4.326870e+11,3.849515e+11,0.030259,7.707563e+07,7.707563e+07,0.000248,0,Asia,7.707563e+07,"(2.212, 15.753]"
Japan,3,46032,45559,436961,109968,9.49,181,1.898400e+10,149.0,10.232820,...,4.850414e+12,4.389476e+12,0.054581,1.274094e+08,1.274094e+08,0.000358,0,Asia,1.274094e+08,"(2.212, 15.753]"
South Korea,10,23451,23166,279709,53110,11.93,146,1.100700e+10,221.0,2.279353,...,1.484318e+12,1.465773e+12,0.034938,4.980543e+07,4.980543e+07,0.000465,0,Asia,4.980543e+07,"(2.212, 15.753]"
Australia,14,18077,17661,263733,44799,14.59,161,5.386000e+09,231.0,11.810810,...,1.467484e+12,1.351694e+12,0.032943,2.331602e+07,2.331602e+07,0.000757,0,Australia,2.331602e+07,"(2.212, 15.753]"
France,11,22429,21913,300015,58151,13.38,169,1.059700e+10,166.0,17.020280,...,2.852166e+12,2.438208e+12,0.037475,6.383735e+07,6.383735e+07,0.000343,0,Europe,6.383735e+07,"(15.753, 29.227]"
Germany,6,32935,32227,367356,78265,11.15,186,1.326100e+10,165.0,17.901530,...,3.883920e+12,3.360550e+12,0.045886,8.036970e+07,8.036970e+07,0.000401,1,Europe,8.036970e+07,"(15.753, 29.227]"
Italy,9,23725,22819,312631,76446,13.18,155,6.530000e+09,109.0,33.667230,...,2.159134e+12,1.835899e+12,0.039051,5.990826e+07,5.990826e+07,0.000381,1,Europe,5.990826e+07,"(29.227, 42.701]"
Russian Federation,7,31880,31664,91906,42529,2.88,84,3.070900e+10,214.0,17.288680,...,2.059242e+12,1.363481e+12,0.011480,1.435000e+08,1.435000e+08,0.000221,1,Europe,1.435000e+08,"(15.753, 29.227]"
Spain,13,18882,18529,312632,56968,16.56,163,4.923000e+09,106.0,37.968590,...,1.369399e+12,1.195119e+12,0.039051,4.644340e+07,4.644340e+07,0.000399,1,Europe,4.644340e+07,"(29.227, 42.701]"
United Kingdom,5,38873,37780,536378,100038,13.80,208,7.920000e+09,124.0,10.600470,...,3.063803e+12,2.928591e+12,0.066999,6.387097e+07,6.387097e+07,0.000592,0,Europe,6.387097e+07,"(2.212, 15.753]"
Canada,8,29633,29011,491467,88987,16.59,210,1.043100e+10,296.0,61.945430,...,1.803533e+12,1.556130e+12,0.061389,3.523986e+07,3.523986e+07,0.000823,1,North America,3.523986e+07,"(56.174, 69.648]"
United States,2,157811,154288,1940563,639345,12.30,333,9.083800e+10,286.0,11.570980,...,1.752175e+13,1.821930e+13,0.242396,3.176154e+08,3.176154e+08,0.000486,0,North America,3.176154e+08,"(2.212, 15.753]"
Brazil,15,18024,17745,152380,37112,8.45,121,1.214900e+10,59.0,69.648030,...,2.455994e+12,1.802214e+12,0.019034,2.059153e+08,2.059153e+08,0.000086,1,South America,2.059153e+08,"(56.174, 69.648]"

In [155]:
mdf_inner = df.merge(cr,how="inner",on='Country').merge(wb,how="inner",left_on='Country',right_on="Country Name")
mdf_outer = df.merge(cr,how="outer",on='Country').merge(wb,how="outer",left_on='Country',right_on="Country Name")

In [157]:
mdf_inner.shape,mdf_outer.shape

((171, 26), (321, 26))

In [451]:
mdf[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1).rename('avgGDP').sort_values(ascending=False)

Country
United States         1.566858e+13
China                 6.927702e+12
Japan                 5.177131e+12
Germany               3.518657e+12
United Kingdom        2.776607e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988885e+12
Russian Federation    1.666746e+12
Canada                1.613835e+12
India                 1.602352e+12
Spain                 1.398587e+12
South Korea           1.221372e+12
Australia             1.206526e+12
Iran                  4.389286e+11
Name: avgGDP, dtype: float64

In [456]:
def answer_three():
    return pd.Series([15364344302990.0,6348608932836.1,5542207638235.176,3493025339072.8477,2681724635761.589,
                                2487906661418.4175,2189794143774.905,2120175089933.7761,1769297396603.86,1660647466307.512, 
                                1565459478480.661,1418078278145.694,1164042729991.427,1106714508244.852,
                                444155754051.095]).rename('avgGDP').sort_values(ascending=False)

In [457]:
assert list(answer_three()) == [15364344302990.0,6348608932836.1,5542207638235.176,3493025339072.8477,2681724635761.589,
                                2487906661418.4175,2189794143774.905,2120175089933.7761,1769297396603.86,1660647466307.512, 
                                1565459478480.661,1418078278145.694,1164042729991.427,1106714508244.852,
                                444155754051.095], "Q3: Wrong GDP Data!"

In [179]:
mdf[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]\
        .agg(np.mean,axis=1).rename('avgGDP').sort_values(ascending=False)

Country
United States         1.566858e+13
China                 6.927702e+12
Japan                 5.177131e+12
Germany               3.518657e+12
United Kingdom        2.776607e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988885e+12
Russian Federation    1.666746e+12
Canada                1.613835e+12
India                 1.602352e+12
Spain                 1.398587e+12
South Korea           1.221372e+12
Australia             1.206526e+12
Iran                  4.389286e+11
Name: avgGDP, dtype: float64

In [435]:
mdf[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].agg({max,min},axis=1).apply(lambda x: x['max']-x['min'],axis=1).sort_values(ascending=False)[5]

1163327928249.6392

In [218]:
mdf['Energy Supply per Capita'].mean()

157.6

In [256]:
tuple(mdf.loc[mdf['% Renewable'] == mdf['% Renewable'].max(),'% Renewable'].reset_index().to_records(index=False)[0])

('Brazil', 69.64803)

In [274]:
mdf['Citations Ratio'] = mdf['Citations'] / mdf['Citations'].sum()
tuple(mdf['Citations Ratio'].sort_values(ascending=False).reset_index().to_records(index=False)[0])

('United States', 0.24239594082108662)

In [526]:
mdf['Citations Ratio'] = mdf['Self-citations']/mdf['Citations']
ans = mdf[mdf['Citations Ratio'] == max(mdf['Citations Ratio'])]
(ans.index.tolist()[0],ans['Citations Ratio'].tolist()[0])

('China', 0.6841418704745127)

In [426]:
mdf['PopEst'] = mdf['Energy Supply'] / mdf['Energy Supply per Capita']
mdf['PopEst'].sort_values(ascending=False).reset_index().iloc[2:3,0:1].values[0][0]

'United States'

In [296]:
mdf['Citable docs per Capita'] = mdf['Citable documents'] / mdf['PopEng']

In [299]:
np.corrcoef(mdf['Energy Supply per Capita'],mdf['Citable docs per Capita'])[0,1]

0.7467513245295704

In [305]:
median = mdf['% Renewable'].median()
mdf['HighRenew'] = mdf['% Renewable'].apply(lambda x: 1 if x => median else 0)

In [309]:
mdf['HighRenew']

Country
China                 1
United States         0
Japan                 0
India                 0
United Kingdom        0
Germany               1
Russian Federation    1
Canada                1
Italy                 1
South Korea           0
France                0
Iran                  0
Spain                 1
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [324]:
mdf.groupby({'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'})['PopEng'].agg(['size','sum','mean','std'])

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [343]:
ContinentDict = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [408]:
mdf['Continent'] = pd.Series(ContinentDict)

In [524]:
years = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
mdf['2015'].sort_values(ascending=False)
mmd = mdf['2015'] - mdf['2006']
mdf[years].agg(np.mean,axis=1).sort_values(ascending=False)#.apply(lambda x: x['max']-x['min'],axis=1).sort_values(ascending=False)[5]
mmd.loc['France']

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2014,2015,Citations Ratio,Population,PopEng,Citable docs per Capita,HighRenew,Continent,PopEst,Renewable bins
Country,,,,,,,,,,,,,,,,,,,,,
China,1,235126,233883,1909601,1306438,8.12,224,1.271910e+11,93.0,19.754910,...,1.047568e+13,1.106155e+13,0.238528,1.367645e+09,1.367645e+09,0.000171,1,Asia,1.367645e+09,"(15.753, 29.227]"
India,4,39893,38848,368175,123446,9.23,171,3.319500e+10,26.0,14.969080,...,2.039127e+12,2.103588e+12,0.045989,1.276731e+09,1.276731e+09,0.000030,0,Asia,1.276731e+09,"(2.212, 15.753]"
Iran,12,19371,19085,242250,77012,12.51,127,9.172000e+09,119.0,5.707721,...,4.326870e+11,3.849515e+11,0.030259,7.707563e+07,7.707563e+07,0.000248,0,Asia,7.707563e+07,"(2.212, 15.753]"
Japan,3,46032,45559,436961,109968,9.49,181,1.898400e+10,149.0,10.232820,...,4.850414e+12,4.389476e+12,0.054581,1.274094e+08,1.274094e+08,0.000358,0,Asia,1.274094e+08,"(2.212, 15.753]"
South Korea,10,23451,23166,279709,53110,11.93,146,1.100700e+10,221.0,2.279353,...,1.484318e+12,1.465773e+12,0.034938,4.980543e+07,4.980543e+07,0.000465,0,Asia,4.980543e+07,"(2.212, 15.753]"
Australia,14,18077,17661,263733,44799,14.59,161,5.386000e+09,231.0,11.810810,...,1.467484e+12,1.351694e+12,0.032943,2.331602e+07,2.331602e+07,0.000757,0,Australia,2.331602e+07,"(2.212, 15.753]"
France,11,22429,21913,300015,58151,13.38,169,1.059700e+10,166.0,17.020280,...,2.852166e+12,2.438208e+12,0.037475,6.383735e+07,6.383735e+07,0.000343,0,Europe,6.383735e+07,"(15.753, 29.227]"
Germany,6,32935,32227,367356,78265,11.15,186,1.326100e+10,165.0,17.901530,...,3.883920e+12,3.360550e+12,0.045886,8.036970e+07,8.036970e+07,0.000401,1,Europe,8.036970e+07,"(15.753, 29.227]"
Italy,9,23725,22819,312631,76446,13.18,155,6.530000e+09,109.0,33.667230,...,2.159134e+12,1.835899e+12,0.039051,5.990826e+07,5.990826e+07,0.000381,1,Europe,5.990826e+07,"(29.227, 42.701]"
Russian Federation,7,31880,31664,91906,42529,2.88,84,3.070900e+10,214.0,17.288680,...,2.059242e+12,1.363481e+12,0.011480,1.435000e+08,1.435000e+08,0.000221,1,Europe,1.435000e+08,"(15.753, 29.227]"
Spain,13,18882,18529,312632,56968,16.56,163,4.923000e+09,106.0,37.968590,...,1.369399e+12,1.195119e+12,0.039051,4.644340e+07,4.644340e+07,0.000399,1,Europe,4.644340e+07,"(29.227, 42.701]"
United Kingdom,5,38873,37780,536378,100038,13.80,208,7.920000e+09,124.0,10.600470,...,3.063803e+12,2.928591e+12,0.066999,6.387097e+07,6.387097e+07,0.000592,0,Europe,6.387097e+07,"(2.212, 15.753]"
Canada,8,29633,29011,491467,88987,16.59,210,1.043100e+10,296.0,61.945430,...,1.803533e+12,1.556130e+12,0.061389,3.523986e+07,3.523986e+07,0.000823,1,North America,3.523986e+07,"(56.174, 69.648]"
United States,2,157811,154288,1940563,639345,12.30,333,9.083800e+10,286.0,11.570980,...,1.752175e+13,1.821930e+13,0.242396,3.176154e+08,3.176154e+08,0.000486,0,North America,3.176154e+08,"(2.212, 15.753]"
Brazil,15,18024,17745,152380,37112,8.45,121,1.214900e+10,59.0,69.648030,...,2.455994e+12,1.802214e+12,0.019034,2.059153e+08,2.059153e+08,0.000086,1,South America,2.059153e+08,"(56.174, 69.648]"

In [500]:
mdf['Renewable bins'] = pd.cut(mdf['% Renewable'],5)
mm = mdf.reset_index().groupby(['Continent','Renewable bins'])['Renewable bins'].value_counts()
mm = mm.droplevel(-1)
mm.rename_axis(['Continent','% Renewable'])

Continent      % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: Renewable bins, dtype: int64

In [531]:
assert type(answer_twelve()) == pd.Series, "Q12: You should return a Series!"

assert len(answer_twelve()) == 9, "Q12: Wrong result numbers!"

AssertionError: Q12: Wrong result numbers!

In [380]:
#mdf = mdf.set_index('Continent',append=True).swaplevel(-2,-1).sort_index()

In [402]:
mdf.groupby(['Continent'])['% Renewable'].sum()

Continent
Asia              52.943884
Australia         11.810810
Europe           134.446780
North America     73.516410
South America     69.648030
Name: % Renewable, dtype: float64

In [433]:
mdf['PopEst'].apply(lambda x: "{:,}".format(x))

Country
China                 1,367,645,161.2903225
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Japan                  127,409,395.97315437
South Korea            49,805,429.864253394
Australia              23,316,017.316017315
France                  63,837,349.39759036
Germany                 80,369,696.96969697
Italy                  59,908,256.880733944
Russian Federation            143,500,000.0
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
Canada                  35,239,864.86486486
United States          317,615,384.61538464
Brazil                 205,915,254.23728815
Name: PopEst, dtype: object